


#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 800px;
  height:400px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
  margin-left:-200px;
}

#carousel{
  margin-top:75px;
  margin-left:-195px;
  width:798px;
}


